@media all {
.buttonWidth { -webkit-flex: 1 1 auto !important; -moz-flex: 1 1 auto !important; -ms-flex: 1 1 auto !important; -o-flex: 1 1 auto !important; flex: 1 1 auto !important;   width:75%;
  min-width:75%;
  max-width:75%;
}

}

